# Delay after each Twitter API call
TWITTER_API_DELAY=30

# Feed and Twitter account configurations
FEED1_URL=https://example1.com/feed
TWITTER1_API_KEY=your_api_key_1
TWITTER1_API_SECRET_KEY=your_api_secret_key_1
TWITTER1_ACCESS_TOKEN=your_access_token_1
TWITTER1_ACCESS_TOKEN_SECRET=your_access_token_secret_1

FEED2_URL=https://example2.com/feed
TWITTER2_API_KEY=your_api_key_2
TWITTER2_API_SECRET_KEY=your_api_secret_key_2
TWITTER2_ACCESS_TOKEN=your_access_token_2
TWITTER2_ACCESS_TOKEN_SECRET=your_access_token_secret_2
